*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #009688 15%, #d7dbd5 15%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/**********************
    COLORI DI BG 
************************/

.bg-grey{
    background-color: #eaeaea;
    padding: 10px;
}

.bg-heavenly{
    background-color: #8edafc;
    padding: 10px;
    display: flex;
}

.bg-white{
    background-color: #fff;
}

/***********************
    FINE COLORI DI BG 
************************/

.container{
    width: 1000px;
    height: 100%;
    margin: 2rem auto;
}

.row{
    display: flex;
    width: 100%;
}

.col-1{
    width: 100%;
}

.col-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-10{
    width: 75%;
}

.row-2{
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}

.dimension img{
    width: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.fa-solid{
    cursor: pointer;
    color: grey;
}

.fa-message, .fa-paperclip{
    margin: 0 10px;
}

.fa-bell-slash{
    background-color: #fff;
    border-radius: 50%;
    padding: 14px 12px;
    color: #8edafc;
    margin-right: 10px;
}

.bg-heavenly a{
    color: grey;
    font-size: 10px;
}

.bg-heavenly h5{
    font-size: 10px;
}

.col-1 input, .col-1 .fa-magnifying-glass{
    background-color: #fff;
    font-size: 15px;
}

.col-1 input{
    width: 100%;
    padding: 2px 0 2px 3px;
    border: 1px solid grey;
}

.col-1 .fa-magnifying-glass{
    padding: 3.5px 10px;
    border: 1px solid grey;
    border-right: none;
}

.flex-collumn{
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

.height{
    max-height: 326px;
    overflow: auto;
}

.avatar{
    background-color: #fff;
    padding: 10px;
    border: 0.5px solid grey;
    border-bottom: none;
    display: flex;
    cursor: pointer;
}

.color{
    color: rgb(113, 113, 113);
    font-size: 10px;
}

.avatar:nth-child(8){
    border-bottom: 0.5px solid grey;
}

.avatar:hover{
    background-color: #e9ebeb;
}

.margin-left{
    margin-left: 5px;
}

.col-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-image{
    background-image: url(../img/mine.jpg);
    height: 370px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 10px;
    font-size: 15px;
    padding: 10px 10px 3px 10px;
    border-radius: 10px;
    width: 40%;
}

.button-message{
    margin-left: 10px;
    border: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}

.button-message:hover{
    background-color: #c5c6c6;
}

.sent{
    background-color: #d5f9ba;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
}

.received{
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}

.date{
    margin-top: 10px;
    font-size: 10px;
    align-self: flex-end;
    color: rgb(72, 71, 71);
}

.col-2 input{
    width: 100%;
    padding: 7px;
    border: none;
}

.fa-face-smile, .fa-microphone{
    padding: 15px;
    color: gray;
}

.dropdown, .fa-ellipsis-h{
    cursor: pointer;
}

.dropdown ul{
    list-style-type: none;
    color: red;
}

.dimension-1{
    padding: 13px 0px;
}

.d-flex{
    display: flex;
}

@media screen and (max-width: 970px){
    .container{
        width: 670px;
    }
}

@media screen and (max-width: 730px){
    .container{
        width: 670px;
    }

    .bg-image{
        height: 570px;
    }
}