<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=+, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">
        <title>Boolzapp</title>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row-1">
                            <div class="col-1 bg-grey">
                                <div class="dimension">
                                    <img src="./img/avatar_io.jpg" alt="Sofia">
                                    <label>Sofia</label>
                                </div>
                                <div class="icon">
                                    <i class="fa-solid fa-circle-notch"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                            <div class="bg-heavenly">
                                <i class="fa-solid fa-bell-slash"></i>
                                <div>
                                    <h5>Ricevi notifiche di nuovi messaggi</h5>
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            <div class="col-1 bg-grey">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchQuery" @input="filterContacts">
                            </div>
                            <div class="height">
                                <div class="height" v-if="filteredContacts.length > 0">
                                    <div class="dimension avatar" v-for="(contact, index) in filteredContacts" @click="selectSlide(index)">
                                        <img :src="contact.avatar">
                                        <div class="margin-left">
                                            <label v-text="contact.name"></label>
                                            <p class="color">Ultimo messaggio inviato</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="no-results" v-else>
                                    Nessun risultato trovato.
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row-2">
                            <div class="col-2 bg-grey dimension">
                                <div>
                                    <img :src="contacts[movimento].avatar">
                                    <label class="margin-left" v-text="contacts[movimento].name"></label>
                                </div>
                                <div>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                            <div class="bg-image">                                
                                    <div class="message" v-for="message in contacts[movimento].messages" :key="message.date" :class="{'sent': message.status === 'sent', 'received': message.status === 'received'}">
                                        <p>{{ message.message }}</p>
                                        <p class="date">{{ message.date }}</p>
                                        <i class="fas fa-ellipsis-h" @click="showDropdown(message)"></i>
                                        <div class="dropdown" v-if="message.showDropdown">
                                            <ul>
                                                <li @click="deleteMessage(message)">Cancella messaggio</li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-2 bg-grey">
                                <i class="fa-regular fa-face-smile"></i>
                                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/script.js"></script>
    </body>
</html>